
<carousel>
    <slide>
        <img src="https://doubleavineyards.com/media/wysiwyg/slider/doublea-home-3_11-4.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="https://doubleavineyards.com/media/wysiwyg/slider/doublea-home-1_11-4.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center mt-5 pt-4">
        <h1>Buy grapevines <strong>200%</strong> discount</h1>
    </div>
</section>

<!-- not a designer btw 
    -- could have made the carousel smaller in height and add categories with more images below
    -- could have added cards with information, like shipping, reviews, top 3 species sold, restocked products
-->