.components-background {
    background-color: #FFF;
}

.sidebarIconText {
    font-size: 0.8em;
    font-weight: 400;
    // padding:1em;
}

.sidebarBackgroundColor {
    background-color:#2D3E4E;
}

.sidebarListBackgroundColor {
    margin-top:10px;
}
